@import url(styles/header.css);
:root{
--cor-de-fundo: #f0e1a2;
--cor-do-cabecalho: #0050b9;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container imagem, .container frase{
    padding: 1em;
    }
    .container titulo, .container frase{
    display:none;
    }
